body {
    background: url(https://media1.popsugar-assets.com/files/thumbor/TX9naAGOWgoSQM94AidjXrfeyqA/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2021/01/14/843/n/1922507/dc8bfea2c1e7f671_guillaume-galtier-5aklrccCH7w-unsplash/i/Pink-Sky-Zoom-Background.jpg);
    background-size: cover;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;

}
.header {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    height: 140px;
   
}
h2 {
    text-align: center;
}
#intro p {
    text-align: center;
    background-color: whitesmoke;
    width: 780px;
    margin: auto;
}